@using Samples.Account
@model ChangePasswordModel
@{
   var service = new AccountService(ModelState);
   
   if (!User.Identity.IsAuthenticated) {
      FormsAuthentication.RedirectToLoginPage();
      return;
   }

   if (IsPost
      && TryUpdateModel()
      && service.ChangePassword(Model)) {
      
      Response.Redirect("ChangePasswordSuccess");
      return;
   }

   ViewBag.Title = "Change Password";
   
   <h1>@ViewBag.Title</h1>
   <p>The current password is <strong>@AccountService.Password</strong></p>
   
   @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
   
   using (Html.BeginForm()) {
      @Html.EditorForModel()
      <br />
      <button>Change Password</button>
   }
}
