@model ASP._Page_Account_ChangePassword_cshtml.ChangePasswordModel
@functions {
   
   public class ChangePasswordModel {

      [Required]
      [DataType(DataType.Password)]
      [Display(Name = "Current password")]
      public string OldPassword { get; set; }

      [Required]
      [StringLength(100, ErrorMessage = "The {0} must be at least {2} characters long.", MinimumLength = 6)]
      [DataType(DataType.Password)]
      [Display(Name = "New password")]
      public string NewPassword { get; set; }

      [DataType(DataType.Password)]
      [Display(Name = "Confirm new password")]
      [System.Web.Mvc.Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
      public string ConfirmPassword { get; set; }
   }

   public bool ChangePassword(ChangePasswordModel model) {

      if (model.OldPassword == AccountState.Password) {

         AccountState.Password = model.NewPassword;
         return true;
      }

      ModelState.AddModelError("OldPassword", "Current Password is incorrect.");

      return false;
   }
}
@{
   if (!User.Identity.IsAuthenticated) {
      FormsAuthentication.RedirectToLoginPage();
      return;
   }

   if (IsPost
      && TryUpdateModel()
      && ChangePassword(Model)) {
      
      Response.Redirect("ChangePasswordSuccess");
      return;
   }

   ViewBag.Title = "Change Password";
   
   <h1>@ViewBag.Title</h1>
   <p>The current password is <strong>@AccountState.Password</strong></p>
   
   @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
   
   using (Html.BeginForm()) {
      @Html.EditorForModel()
      <br />
      <button>Change Password</button>
   }
}
