@{
   ViewBag.Title = "Samples";
}
<h1>Samples</h1>
<ul>
   <li>
      <a href="@Href("Contact")">Contact</a>
   </li>
   <li>
      <a href="@Href("Account/ChangePassword")">Change Password</a>
   </li>
   <li>
      <a href="@Href("UsingMvcLayout")">Web Page using MVC Layout</a>
   </li>
   <li>
      <a href="@Url.Action("", "Test")">MVC View using Web Pages Layout</a>
   </li>
</ul>